<nav class="navbar navbar-expand-lg bg-light border-bottom bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-action="Index" asp-controller="Products">Products (@await Component.InvokeAsync("ProductSummary"))</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-action="Index" asp-controller="Category">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-page="/Contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav me-3">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Aras Karaman
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item"  asp-page="/CartModel"><i class="fa fa-cart-shopping me-2"></i>Cart (@await Component.InvokeAsync("CartSummary"))</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a asp-action="Index" asp-controller="Dashboard" asp-area="Admin" class="dropdown-item">Admin</a></li>
            </ul>
          </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>