@page
@{
    ViewData["Title"] = "Complete";
}

 @if (Status == true)
    {
    <div class="text-center vh-100">
        <h6>Thanks</h6>
        <p>Thanks for placing order #@OrderId</p>
        <p>@Message</p>

       @*  <p>We'll ship yout goods as soon as possible.</p> *@
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Return to store</a>
    </div>
    }
  else
{
    <div class="text-center vh-100">
        <h6>Sorry! 😒</h6>
        
        <p>@Message</p>

        @*  <p>We'll ship yout goods as soon as possible.</p> *@
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Return to store</a>
    </div>
}

@functions
{
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }


    [BindProperty(SupportsGet = true)]
    public string? Message { get; set; }

    [BindProperty(SupportsGet = true)]
    public bool? Status { get; set; }

}