@page "/getintouch"
@model StoreApp.Pages.Contact
@{
    ViewData["Title"] = "Contact";
}

<div class="container-fluid px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-sm-6 d-none d-sm-block bg-image">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3060.5156160788097!2d32.751781!3d39.907476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d1f2cb67c5%3A0x4682ab8e79b448a2!2sMustafa%20Kemal%2C%20Dumlup%C4%B1nar%20Blv.%20No%3A272%2C%2006510%20%C3%87ankaya%2FAnkara%2C%20T%C3%BCrkiye!5e0!3m2!1sen!2sus!4v1700675389233!5m2!1sen!2sus" class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-sm-6 p-4">
              <div class="text-center">
                <div style="color: #1c85e8;" class="h3 fw-bold text-shadow fst-italic">BTK AKADEMİ</div>
                <p class="mb-4 text-muted">İletişim Bilgileri</p>
              </div>
               <div class="mb-3 mt-2 d-flex flex-column ps-3" style="height: 350px;">
                   <div class="mb-4">
                    <h4>
                        <i class="fa fa-phone me-2 text-primary"></i>
                        İletişim:
                    </h4> 
                        <p class="mt-2 ms-2 lead">ALO <strong class="text-primary fw-bold mx-1"> 120 </strong> BTK Akademi bilgi ve destek hattı</p>
                   </div>

                    <div class="mb-4">
                    <h4>
                        <i class="fa fa-address-book me-2 text-primary"></i>
                        Adres:
                    </h4> 
                        <p class="mt-2 ms-2 lead">Bilgi Teknolojileri ve İletişim Kurumu Eskişehir Yolu 10.Km No: 276 Posta Kodu: 06530 Çankaya/Ankara</p>
                   </div>

                   <div class="mb-4">
                    <h4>
                        <i class="fa fa-envelope me-2 text-primary"></i>
                        E-posta:
                    </h4> 
                        <p class="mt-2 ms-2 lead"><a href="mailto:destek@btkakademi.gov.tr">destek@btkakademi.gov.tr</a></p>
                   </div>
               </div>
              

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
