@if(User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ms-3">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
             @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              @if(User.IsInRole("Admin"))
              {
                    <li><a asp-action="Index" asp-controller="Dashboard" asp-area="Admin" class="dropdown-item">Admin</a></li>
              }
              <li><hr class="dropdown-divider"></li>
              <li><a asp-action="Logout" asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-controller="Account" class="dropdown-item text-danger">
                <i class="fa-solid fa-right-from-bracket me-2"></i>
                Logout</a></li>
            </ul>
          </li>
      </ul>
}
else
{
        <a asp-action="Login" asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-controller="Account"  class=" mx-3 btn btn-outline-primary">
            <i class="fa-solid fa-right-to-bracket me-2"></i>
            Login</a>
        <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Sign-up</a>
}

