<div class="text-center text-danger" style="min-height: 80vh;">
    <h3 class="display-3 my-5">
        <i class="fa fa-bug-slash"></i>
        <br />
        Access Denied
    </h3>

    <div class="text-center text-muted my-3">
        <div class="lead">
            You have ne permission to access this page. Please get in touch with system administrator.
        </div>
        <div class="btn-group my-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Home</a>
            <a asp-controller="Products" asp-action="Index" class="btn btn-outline-secondary">Products</a>
            <a asp-page="/Contact" class="btn btn-outline-secondary">Contact</a>
        </div>
    </div>
</div>