@model RegisterDto
<div class="row h-100 align-items-center justify-content-center py-2" style="min-height: 100vh;">

    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="text-center py-3">

            <h5 class="display-5">
                <i class="fa-solid fa-user-plus bg-primary text-white p-3 rounded-circle mb-2"></i>
                <br />
                Sign Up
            </h5>
        </div>
        <div class="text-center my-3">
            <div class="text-danger" asp-validation-summary="All"></div>
        </div>
        <div class="bg-light p-5 shadow rounded-3">

            <form method="post" asp-action="Register" asp-controller="Account">
              
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" id="Name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" id="Email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" id="Password">
                </div>

                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
                    <i class="fa-solid fa-user-plus me-2"></i>
                    Sign Up</button>
                <p class="text-center mb-0">Already have an Account? <a class="ms-2" asp-action="Login" asp-controller="Account">Sign In</a></p>
            </form>
        </div>
    </div>
</div>