@model Product

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="text-center">
            <h6 class="display-6 mb-3">
                @Model.Name
            </h6>
            <img  class="img-fluid shadow rounded-3 my-3 p-5" src="@Model?.ImageUrl"  alt="@Model?.Name" />
            <p class="lead text-danger mt-4 fs-2"> @Model?.Price.ToString("C")</p>
        </div>
    </div>
    <div class="text-center">
        <div class="btn-group">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">
                <i class="fa-solid fa-house"></i>
                Home</a>
            
            <form id="@Model.Id"  asp-page="/CartModel" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-outline-primary rounded-0">
                    <i class="fa fa-cart-shopping"></i> Add To Basket
                </button>
            </form>
            <a asp-action="Index" asp-controller="Products" class="btn btn-outline-primary">
                <i class="fa-solid fa-list"></i>
                Products</a>
        </div>
    </div>
</div>


