@model ResetPasswordDto

<div class="row h-100 align-items-center justify-content-center py-2">

    <div class="col-sm-12 col-xl-6">
        <div class="text-center py-3">

            <h5 class="display-5">
                <i class="fa-solid fa-key bg-primary text-white p-3 rounded-5 mb-2"></i>
                <br />
               Reset Password (@Model.UserName)
            </h5>
        </div>
        <div class="text-center my-3">
            <div class="text-danger" asp-validation-summary="All"></div>
        </div>
        <div class="bg-light p-5 rounded-3">

            <form method="post" asp-action="ResetPassword" >
                 <input type="hidden" asp-for="UserName" />
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" id="Email" aria-describedby="emailHelp">
                </div>
               
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
                    <input type="password" asp-for="Password" class="form-control" id="Password">
                </div>
               
                <div class="btn-group my-3 py-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary  ">
                    <i class="fa-solid fa-key me-2"></i>
                    Reset Password </button>
                    <a asp-action="Index"  class="btn btn-outline-primary">
                    <i class="fa-solid fa-users me-2"></i>
                    Users </a>


                </div>
                
            </form>
        </div>
    </div>
</div>